@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgba(32, 33, 30, 0.913);
    font-size: 14px;
    line-height: 25px;
}

.resume{
    margin: 50px auto;
    padding: 10px;
    background-color: white;
    display: flex;
    width: 800px;
}

.resume .left{
    width: 35%;
    background-color:#26252d;
}

.resume .left .pic img{
    padding: 10px;
    margin: 5px;
    width: 97%;
    display: block;
    border-radius: 50%;
    /*border: 2px solid white;*/
}

.resume .title{
    margin-bottom: 10px;
    padding: 0;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700px;
}

.resume .left .info{
    color: #dcdaeb;
}

.resume .left .left_bottom{
padding: 15px 25px;
}

.resume .item{
    padding: 20px 0;
    border-bottom: 2px solid #0175b2;
}

.resume .item:last-child{
    border-bottom: 0;
}

.resume .left .namerole{
    display: none;
}

.resume .namerole .name{
    margin-bottom: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.resume .namerole .role{
    color: #dcdaeb;
}

.resume .left .contact .info:last-child{
    margin: 10px;
}

.resume .left .contact .subtitle{
    color: white;
    margin-bottom: 2px;
}

.resume .left .skills .skill_list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.resume .left .skills .skill_list .skill_bar p{
    position: relative;
    width: 125px;
    height: 20px;
    background-color: white;
    margin-left: 5px;

}

.resume .left .skills .skill_list .skill_bar p span{
    position: absolute;
    top: 0;
    left: 0;
    background-color:#0175b2 ;
    width: 100%;
    height: 100%;
}

.resume .right {
    padding: 20px 40px;
    width: 65%;
    color: #26252d;
}

.resume .right .namerole .name{
    color: #26252d;
    font-size: 32px;
}

.resume .right .namerole .role{
    color: #26252d;
    font-size: 14px;
    text-transform: uppercase;
}

.resume .right .item .title{
    color: #26252d;
    font-size: 18px;
}

.resume .right .subtitle{
    display: flex;
}

.resume .right .subtitle .year{
    padding-right: 35px;
    width: 115px;
    position: relative;
}

.resume .right .subtitle .subinfo{
    padding-left: 35px;
    margin-bottom: 20px;
    width: calc(100% - 115px);
}

.resume .right .subtitle .year:before{
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 2px solid #26252d;
    border-radius: 50%;
}

.resume .right .subtitle .year:after{
    content: "";
    position: absolute;
    top: 18px;
    right: 5px;
    width: 3px;
    height: 94%;
    background-color: #0175b2;

}

.resume .right .subtitle:last-child .year:after{
    display: none;
}

.resume .right .subtitle .subtitle_1{
    font-weight: bold;
    text-transform: capitalize;
}

.resume .right .interests .info{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.resume .right .interests .interest .int_icon{
    font-size: 38px;
    color: #0175b2;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
    .resume .right .namerole{ display: none;}

    .resume .left .namerole{display: block;}

    .resume .right .profile {display: none;}

    .resume .left .profile {display: block;}

    .resume{
    width: 95%;
    margin: 10px auto; 
    flex-direction: column;}

    .resume .left{ width: 100%;}

    .resume .right{ width: 100%;}  
}

@media screen and (max-width: 424px){
    .resume .right{ padding: 20px 30px;}

    .resume .right .subtitle{ flex-direction: column;}

    .resume .right .subtitle .year{ 
        padding: 0;
        margin-bottom: 5px;
        width: 100%;
        color: #0175b2;
    }

    .resume .right .subtitle .year:before, 
    .resume .right .subtitle .year:after { display: none;}

    .resume .right .item{
        width: 100%;
    }

    .resume .right .subtitle .subtitle_1 { width: 100%; 
        padding: 0; margin: 1px;}

    /* .resume .right .interests .interest .int_icon {font-size: 24px;}    
    */

    
}
